<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
    <div class="d-flex justify-content-between">
        <h3 style="font-weight: bold;" [ngStyle]="{color: getColor()}"> {{title}}</h3><span style="font-style: italic; color: grey;">{{created_at | date :'short'}}   </span>
    </div>
    <p [ngStyle]="{color: getColor()}"> {{content}} </p>


    <button type="button" class="btn btn-success" (click)="getLove(true)">Love It!</button>
    <button type="button" class="btn btn-danger" (click)="getLove(false)">Don't live it!</button>     
</li>

